{{template "base" .}}

{{define "content"}}
<div class="mx-auto p-5">
    <h1> This is the about page </h1>
    <p> Data from template {{index .StringMap "test"}} </p>

    <p>

        {{if eq (index .StringMap "ip_address") ""}}

        I don't know your IP Address. Please visit <a href="/">home</a> to track your IP Address

        {{else}}

        Your IP Address Is {{index .StringMap "ip_address"}}

        {{end}}

    </p>
</div>

{{end}}