{{template "base" .}}

{{define "content"}}

<div class="text-center mt-5 mx-4" style="height: 100px;">

</div>

<div class="text-center mt-5 mx-4" style="height: 300px;">
    <h1>Feel free to contact me</h1>
</div>


{{end}}