{{template "base" .}}



{{define "content"}}


<div class="container">

    <<div class="row  g-3 mt-5">
        <div class="col">
            <img src="{{index .StringMap "res_path"}}/images/general.png" alt="" srcset=""
                class="room-image img-fluid mx-auto d-block">
        </div>

    
        
        
</div>


<div class="text-center mt-5 mx-4">

    <h1> General Suite </h1>
    <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum itaque obcaecati provident, molestias eligendi
        earum suscipit non quibusdam? Officia optio eius excepturi aliquam, hic fuga totam nam iste blanditiis
        aspernatur! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio vel error facere quae corporis sit
        maxime exercitationem saepe culpa totam! Soluta aspernatur optio distinctio dolor quo unde exercitationem
        aperiam magni? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos aut consectetur necessitatibus
        atque. Ab animi doloremque id eos cumque officiis explicabo numquam. Molestiae, culpa eaque ex officiis enim
        voluptatum dignissimos!</p>

    <a href="/about">

        <button type="button" name="" id="" class="btn btn-primary">Book This Room!</button>

    </a>



</div>




{{end}}