{{template "base" .}}

{{define "content"}}
<header style="background-color: gray;">
    <div class="container">
     <div>
     </div>
     <div class="col">
       <i class="fa-brands fa-square-instagram"></i>
       <small>annahdloh.com</small>
       <small>08123456789</small>
     </div>
    </div>
   </header>
{{end}}