{{template "base" .}}

{{define "content"}}
    <div class="mx-auto mt-5 p-5">
        <h1> User's Login Page </h1>

        <form action="/user/login" class="mt-3 needs-validation" method="POST" novalidate>

            <input autocomplete="false" name="csrf_token" type="hidden" value="{{index .StringMap "csrf_token"}}">

            <div class="col">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input required autocomplete="off" type="email"
                           class="form-control {{with .FormValidator.FormError.GetFirstErrorMessage "email"}} is-invalid
                    {{end}}" id="email" name="email" aria-describedby="email" value="">
                    <div class="invalid-feedback">
                        {{with .FormValidator.FormError.GetFirstErrorMessage "email"}} {{.}} {{end}}
                    </div>
                </div>

            </div>

            <div class="col">

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input required type="password" autocomplete="off"
                           class="form-control {{with .FormValidator.FormError.GetFirstErrorMessage "password"}} is-invalid
                    {{end}}" id="password" name="password" aria-describedby="password" value="">
                    <div class="invalid-feedback">
                        {{with .FormValidator.FormError.GetFirstErrorMessage "password"}} {{.}} {{end}}
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary mt-3">Login</button>

        </form>
    </div>

{{end}}