{{template "base" .}}



{{define "content"}}


<div class="text-center mt-5 mx-4" style="height: 100px;">

</div>

<div class="text-center mt-5 mx-4" style="height: 300px;">
    <h1>Hi major</h1>
</div>



{{end}}