{{template "base" .}}

{{define "content"}}

{{$reservation := index .Data "reservation"}}

<div class="mx-auto mt-5 p-5">
    <h1> Reservation Summary </h1>
</div>

<div class="px-5">
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>

            <tr>
                <td>Room Name</td>
                <td>{{$reservation.Room.RoomName}}</td>
            </tr>

            <tr>
                <td>Name</td>
                <td>{{$reservation.FirstName}} {{$reservation.LastName}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{$reservation.Email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{$reservation.Phone}}</td>
            </tr>

            <tr>
                <td>Arrival</td>
                <td> {{index .Data "arrival"}}</td>
            </tr>
            <tr>
                <td>Departure</td>
                <td> {{index .Data "departure"}}</td>
            </tr>
        </tbody>
    </table>
</div>



{{end}}